     <div class="container">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md-6  mt-2">  
            <button *ngIf="show" (click)="hidePoem()"  type="button" class="btn btn-danger btn-lg btn-block ">
              Borrar poema
            </button>
            <button *ngIf="!show" (click)="loadPoem()"  type="button" class="btn btn-primary btn-lg btn-block ">
                Generar poema
              </button>
          </div>
          <div class="col-md"></div>
        </div>

        <div class="row mt-1" *ngIf="show">
          <div class="col-md"></div>
          <div class="col-md-6">
              <div class="card" >
                  <img [src]="img" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <p *ngFor="let poem of poems">{{poem}}</p>
                    </div>
                </div>
          </div>
          <div class="col-md"></div>
        </div>
    </div>
